﻿<!DOCTYPE html>
<html>
	<head>
		<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
		<script src="http://vk.com/js/api/xd_connection.js?2" type="text/javascript"></script>
	</head>
	<body>
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script type="text/javascript">
		  VK.init(function() {
			{% block VKAPICode %}
			{% endblock %}
		  });
		</script>
		<script src="js/bootstrap.min.js"></script>
		<div class="container-fluid" id="content">
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>