﻿{% extends "base_logged.html" %}
{% block content %}
{{ block.super }}
<script src="http://vk.com/js/api/xd_connection.js?2" type="text/javascript"></script>
<script type="text/javascript">
	VK.init(function() {
		VK.api('friends.getAppUsers',{},function(data) {
			if (data.response) {
				document.getElementByID("content").innerHtml = "LOL";
			}
		}); 
	});
</script>
{% include "pages.html" %}
{% endblock %}