﻿{% extends "base.html" %}
{% block content %}
<div class="hero-unit">
	<div class="row">
		<div class="span6 offset3">
			Для использования приложения, пожалуйста авторизируйтесь с помощью Steam аккаунта:
			<a href="{{ login_url }}" target="_self"><img src="{{ login_image_url }}"/></a>
		</div>
	</div>
</div>
{% endblock %}