﻿{% extends "base_logged.html" %}
{% block content %}
{{ block.super }}
<table class="table table-hover table-striped table-bordered">
	<caption>Список матчей</caption>
	<thead>
		<tr>
			<th>ID матча</th>
			<th>Тип лобби</th>
			<th>Дата начала</th>
			<th>Победитель</th>
			<th>Время игры</th>
		</tr>
	</thead>
	<tbody>
		{% for match in matches %}
		<tr>
			<td><a href="/match?match_id={{ match.match_id }}&{{ query_string }}">{{ match.match_id }}</a></td>
			<td>{{ match.lobby_type }}</td>
			<td>{{ match.start_time|date:"d.m.Y H:i:s" }}</td>
			<td>{% if match.radiant_win %}Сила света{% else %}Сила тьмы{% endif %}</td>
			<td>{{ match.duration|time:"H:i:s" }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% include "pages.html" %}
{% endblock %}