﻿{% extends "base_logged.html" %}
{% block content %}
{{ block.super }}
<table class="table table-hover table-striped table-bordered">
	<caption>Команда Света</caption>
	<thead>
		<tr>
			<th>Игрок</th>
			<th>Уровень</th>
			<th>Герой</th>
			<th>У</th>
			<th>С</th>
			<th>П</th>
			<th>Артефакты</th>
			<th>Золота</th>
			<th>Добивания</th>
			<th>Денаи</th>
			<th>Зол/мин</th>
			<th>Опыт/мин</th>
		</tr>
	</thead>
	<tbody>
		{% for player in match.players %}
		<tr>
			<td>{{ player.details.personaname|default:"Anonymous" }}</td>
			<td>{{ player.level }}</td>
			<td>{{ player.hero_id }}</td>
			<td>{{ player.kills }}</td>
			<td>{{ player.deaths }}</td>
			<td>{{ player.assists }}</td>
			<td>{{ player.additional_units.unitname }}</td>
			<td>{{ player.gold }}</td>
			<td>{{ player.last_hits }}</td>
			<td>{{ player.denies }}</td>
			<td>{{ player.gold_per_min }}</td>
			<td>{{ player.xp_per_min }}</td>
			<td></td>
			<td></td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}