{% if pages %}
<div class="pagination pagination-centered">
	<ul>
		{% for page in pages %}
		<li{% if current_page == page %} class="active"{% endif %}><a href="/?page={{ page }}&{{ query_string }}">{{ page|add:"1" }}</a></li>
		{% endfor %}
	</ul>
</div>
{% endif %}